<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <system.serviceModel>
    <bindings />
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReverseIndexServiceBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy15" />
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="ReverseIndexServiceBehavior"
               name="DistributedSearchs.ConsoleHost.Services.ReverseIndexServiceContract">
        <endpoint address="ReverseIndex" binding="basicHttpBinding" bindingConfiguration="" name="basic"
                  contract="DHT.MainModule.IReverseIndexServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <!-- Discovery Endpoints -->
        <endpoint kind="udpDiscoveryEndpoint" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:23020/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="ReverseIndexServiceBehavior"
               name="DistributedSearchs.ConsoleHost.Services.FileToMachineServiceContract">
        <endpoint address="File" binding="basicHttpBinding" bindingConfiguration="" name="basic"
                  contract="DHT.MainModule.IFileToMachineServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <!-- Discovery Endpoints -->
        <endpoint kind="udpDiscoveryEndpoint" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:23021/" />
          </baseAddresses>
        </host>
      </service>

      <!-- Announcement Listener Configuration -->
      <service name="AnnouncementListener">
        <endpoint kind="udpAnnouncementEndpoint" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8020/ReverseIndex" binding="basicHttpBinding"
                contract="DHT.MainModule.IReverseIndexServiceContract" />
    </client>
  </system.serviceModel>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value=".\Logs\Log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="NHibernate" additivity="false">
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>
</configuration>